<style>
#imagebox {
	width: 1100px;
	margin: auto;
	box-sizing: border-box;
}

.allimages {
	width: 350px;
	height: 350px;
	padding: 5px;
	box-sizing: border-box;
}

img {
	float: left;
}
</style>

<p>
	<img class="allimages" src='/images/animal/image-{{id}}.jpg' />
<p>
	<b><font color="orange">Name:</b></font> {{animal.animalName}}
</p>
<p>
	<b><font color="orange">TypeAnimal:</b></font> {{animal.animalType}}
</p>
<p>
	<b><font color="orange">Description:</b></font>
	{{animal.animalDescription}}
</p>
<p>
	<b><font color="orange">Age: </b></font>{{animal.animalAge}}
</p>
<p>
	<b><font color="orange">Size:</b></font> {{animal.animalSize}}
</p>
<br>
</p>




