{{>layout/header}}

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Animals
					</h1>
					<p class="text-white link-nav"><a href="/">Home </a> <span
							class="lnr lnr-arrow-right"></span> <a href="/animals"> Animals</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start animal-list Area -->
	<form class="col-lg-9">
		<div class="form-group">
			<div class="row">
				<select name="filter" form="filter" class="col-lg-8 col-md-3">
					<!-- values for the special-filter algorith -->
					<option value="all">All</option>
					<option value="special">My posibilities</option>
					<option value="bird">Bird</option>
					<option value="cat">Cat</option>
					<option value="dog">Dog</option>
					<option value="reptile">Reptile</option>
					<option value="others">Others</option>
				</select>
				<button type="submit" class="primary-btn col-lg-8 col-md-3">Aply filter</button>
			</div>
		</div>
	</form>
	<form class="col-lg-9">
		<div class="form-group">
			<div class="row">
				<input type="text" class="form-control col-lg-8 col-md-3" placeholder="Search by name">
				<button type="submit" class="primary-btn col-lg-8 col-md-3">Search</button>
			</div>
		</div>
	</form>
	<section class="cat-list-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/dg1.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/ct6.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/dg3.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/c5.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/dg5.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="animalview.html"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/ct5.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/dg7.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-cat-list">
						<img src="img/dg8.jpg" alt="" class="img-fluid">
						<div class="overlay">
							<div class="text"><a href="/animalview"> Adopt Me!</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End animal-list Area -->




{{>layout/footer}}