{{>layout/header}}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">Profile</h1>
				<p class="text-white link-nav">
					<a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a
						href="/profile"> Profile</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- start data Area -->
<section class="cat-list-area section-gap">
	<div class="container">
		<div class="row">
			<div class="column-profile left">
				<img src="/images/user/image-{{id}}.jpg" width="600px"
					height="600px" class="img-fluid">
			</div>
			<div class="column-profile rigth">
				<h2>{{username}}</h2>
				<br>
				<h3>Data:</h3>
				<p>
					<b>House size: </b>{{housesize}}
				</p>
				<p>
					<b>Garden: </b>{{garden}}
				</p>
				<p>
					<b>Kids: </b>{{nkids}}
				</p>
				<p>
					<b>People in house: </b>{{pinhouse}}
				</p>
			</div>
		</div>
		<div class="profile-pictures">
			<h2>Gallery</h2>
			<br>
			<form action="/addImage" method="post" class="col-lg-9"
				enctype="multipart/form-data">
				<div class="form-group">
					<input type="file" name="galleryPhoto" accept=".jpg, .jpeg"
						required>
					<button type="submit" class="genric-btn primary circle" style="width: 125px">Add
						Image</button>
				</div>
			</form>
            <div class="hola" id="myList1">
				{{#gallery}}
						<img class="allimages" src="{{.}}" width="500px" height="500px" class="img-fluid">
				{{/gallery}}
			</div>
		</div>
	</div>
</section>
<!-- End Data Area -->

{{>layout/footer}}
