{{>layout/header}}

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Profile
					</h1>
					<p class="text-white link-nav"><a href="/">Home </a> <span
							class="lnr lnr-arrow-right"></span> <a href="/profile"> Profile</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start data Area -->
	<section class="cat-list-area section-gap">
		<div class="container">
			<div class="row">
				<div class="column-profile left">
					<img src="img/about-img.jpg" alt="" class="img-fluid">
				</div>
				<div class="column-profile rigth">
					<h2>Name</h2>
					<h3>Data:</h3>
					<p><b>House size:</b> Big</p>
					<p><b>Garden:</b> Yes</p>
					<p><b>Kids:</b> No</p>
					<p><b>People in house:</b> 6</p>
				</div>
			</div>
			<div class="profile-pictures">
				<h2>Galery</h2>
				<form class="col-lg-9">
					<div class="form-group">
						<input type="file" name="pic" accept="image/*" required>
						<button type="submit" class="primary-btn float-right">Add image</button>
					</div>
				</form>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-cat-list">
							<img src="img/dg1.jpg" alt="" class="img-fluid">
							<div class="overlay">
								<div class="text">Adopt Me!</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-cat-list">
							<img src="img/ct6.jpg" alt="" class="img-fluid">
							<div class="overlay">
								<div class="text">Adopt Me!</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-cat-list">
							<img src="img/dg3.jpg" alt="" class="img-fluid">
							<div class="overlay">
								<div class="text">Adopt Me!</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-cat-list">
							<img src="img/c5.jpg" alt="" class="img-fluid">
							<div class="overlay">
								<div class="text">Adopt Me!</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- End Data Area -->

{{>layout/footer}}