{{>layout/header}}



<!-- start banner Area -->
<section id="myRequest" class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">Requests</h1>
				<p class="text-white link-nav">
					<a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a
						href="/request"> Requests</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start requests Area -->


<section class="cat-list-area section-gap">
	<div class="container">
		<div id="myRequestList" class="row">
			<div class="col-lg-3 col-md-4">
				<div class="single-cat-list">
					<img src="img/dg1.jpg" alt="" width="class="img-fluid">
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<p>
					<b>Name: </b><a href="animalview.html">Snow Flake</a>
				</p>
				<p>
					<b>Age: </b>6 months
				</p>
				<p>
					<b>Adoption Request by :</b> <a href="profile.html"> Ana</a>
				</p>
				<form class="col-lg-6">
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle "
							style="width: 125px" onclick="#">Accept</button>
					</div>
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle"
							style="width: 125px" onclick="#">Deny</button>
					</div>
				</form>
				<p>
					<b>Status </b>
				</p>
				<br>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="single-cat-list">
					<img src="img/ct6.jpg" alt="" width="class="img-fluid">
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<p>
					<b>Name: </b><a href="animalview.html">Garfield</a>
				</p>
				<p>
					<b>Age: </b>72 months
				</p>
				<p>
					<b>Adoption Request by: </b><a href="profile.html">Sara</a>
				</p>
				<form class="col-lg-6">
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle"
							style="width: 125px" onclick="#">Accept</button>
					</div>
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle"
							style="width: 125px" onclick="#">Deny</button>
					</div>
				</form>
				<p>
					<b>Status </b>
				</p>
				<br>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="single-cat-list">
					<img src="img/ct6.jpg" alt="" width="class="img-fluid">
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<p>
					<b>Name: </b><a href="animalview.html">Garfield</a>
				</p>
				<p>
					<b>Age: </b>72 months
				</p>
				<p>
					<b>Adoption Request by: </b><a href="profile.html">Sara</a>
				</p>
				<form class="col-lg-6">
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle "
							style="width: 125px" onclick="#">Accept</button>
					</div>
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle "
							style="width: 125px" onclick="#">Deny</button>
					</div>
				</form>
				<p>
					<b>Status </b>
				</p>
				<br>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="single-cat-list">
					<img src="img/ct6.jpg" alt="" width="class="img-fluid">
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<p>
					<b>Name: </b><a href="animalview.html">Garfield</a>
				</p>
				<p>
					<b>Age: </b>72 months
				</p>
				<p>
					<b>Adoption Request by: </b><a href="profile.html">Sara</a>
				</p>
				<form class="col-lg-6">
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle "
							style="width: 125px" onclick="#">Accept</button>
					</div>
					<div class="form-group">
						<button type="submit" class="genric-btn primary circle "
							style="width: 125px" onclick="#">Deny</button>
					</div>
				</form>
				<p>
					<b>Status </b>
				</p>
				<br>
			</div>
		</div>
	</div>
</section>
<!-- End request-list Area -->
<button id="load" class="genric-btn primary circle "
	style="width: 125px">Load More</button>

<div id="over">
	<div class="cv-spinner">
		<span class="spinner"></span>
	</div>
</div>



{{>layout/footer}}
