<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">New Animal</h1>
				<p class="text-white link-nav">
					<a [routerLink]="['home']">Home </a> <span class="lnr lnr-arrow-right"></span> <a
					[routerLink]="['animalform']"> Add animal</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start Animal-form Area -->
<section class="Volunteer-form-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-20">Animal data:</h1>
					<p>Include the animal characteristics to help him to a new
						home.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<form autocomplete="on" (ngSubmit)="createAnimal( formulary )" #formulary="ngForm" enctype="multipart/form-data"
				class="col-lg-9">

				<div class="form-group">
					<label for="image">Photo:</label><br> <input type="file" name="animalPhoto" 
						[(ngModel)]="animal.animalPhoto" accept=".jpg, .jpeg" (change)="loadAnimalImage($event)" required>
				</div>

				<div class="form-group">
					<label [class.text-danger]="animalName.invalid && animalName.touched" for="animalName">Name:</label> 
					<input type="text" name="animalName" [class.is-invalid]="animalName.invalid && animalName.touched" 
					[class.is-valid]="animalName.valid && animalName.touched" #animalName="ngModel" id="animalName"
					class="form-control" [(ngModel)]="animal.animalName" pattern="[A-Za-z ]+" placeholder="Name" required>
					<small *ngIf="animalName.invalid && animalName.touched" class="form-text text-danger">You can only enter a name with alphabetic symbols.</small>
				</div>

				<div class="form-group">
					<label for="animalType">Type animal:</label>
					<select name="animalType" id="animalType" [(ngModel)]="animal.animalType" required>
						<!-- values for the special-filter algorith -->
						<option value="bird">Bird</option>
						<!-- -2 -->
						<option value="dog">Dog</option>
						<!-- +0 -->
						<option value="cat">Cat</option>
						<!-- +0 -->
						<option value="reptile">Reptile</option>
						<!-- +3 -->
						<option value="other">Other</option>
						<!-- +2 -->
					</select>
				</div>

				<div class="form-group">
					<label [class.text-danger]="animalAge.invalid && animalAge.touched" for="animalAge">Age (months):</label> <input type="text"
						[class.is-invalid]="animalAge.invalid && animalAge.touched"
						[class.is-valid]="animalAge.valid && animalAge.touched"
						#animalAge="ngModel"
						class="form-control" [(ngModel)]="animal.animalAge" name="userAge" id="animalAge" pattern="[1-9][0-9]?[0-9]?" placeholder="Your Age"
						required>
						<small *ngIf="animalAge.invalid && animalAge.touched" class="form-text text-danger">Enter your age, minimum is 1 and it can't be negative.</small>
				</div>

				<div class="form-group">
					<label for="animalDescription">Description</label>
					<textarea class="form-control" id="exampleTextarea" rows="5"
						placeholder="Write a description"  name="animalDescription" id="animalDescription" [(ngModel)]="animal.animalDescription"></textarea>
				</div>

				<div class="form-group">
					<label for="animalSize">Size:</label>
					<select  name="animalSize" id="animalSize" [(ngModel)]="animal.animalSize" required>
						<!-- values for the special-filter algorith -->
						<option value="no">Irrelevant</option>
						<!-- -3 -->
						<option value="xs">Very Small</option>
						<!-- +0 -->
						<option value="s">Small</option>
						<!-- +1 -->
						<option value="m">Medium</option>
						<!-- +4 -->
						<option value="l">Big</option>
						<!-- +6 -->
						<option value="xl">Very Big</option>
						<!-- +8 -->
					</select>
				</div>

				<div *ngIf="alert" class="alert alert-danger">
					All fields must be Completed
				 </div>

				 <button type="submit" class="genric-btn primary circle">Create
					Animal</button>
			</form>
		</div>
	</div>
</section>
<!-- End Animal-form Area -->