<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">Statistics</h1>
                <p class="text-white link-nav">
                    <a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a routerLink="/statistics">
                        Statistics</a>
                </p>
            </div>
        </div>
    </div>
</section>
<br>
<!-- End banner Area -->
<section class="Graphs-header">
    <div class="contains">
        <div class="row justify-content-center align-items-center">
            <h4>Adoptions in last six Months</h4>
        </div>
        <canvas baseChart
        [datasets]="adoptions"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [chartType]="barChartType">
      </canvas>
    
       
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>