
<!-- start footer Area -->
<footer class="footer-area">
	<div class="container">
		<div class="row pt-120 pb-80">
			<div class="col-lg-4 col-md-6">
				<div class="single-footer-widget">
					<h6>About Us</h6>
					<p>
						We are an open portal to everyone who loves animals. Doesn't
						matter if you are a shelter or a dog pound, a single or a family,
						if you want to give them a second opportunity this is your web.<br>
						Come on and join us!
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-footer-widget">
					<h6>Terms And Conditions</h6>
					<p>
						Firstly, responsibility is a must, the adoption would only be
						achieved by compromised and consequent people who love animals and
						treat them the best way.<br> Through the life of the adopted
						animals, we reserve the right to contact the adoption family to
						check and control the animal health and status.<br> If any
						harm or suffering is detected during the checking process, legal
						measurements will start.<br> Animals are not toys, they are
						extra members of the family that have to be treated as equals and
						that have to be loved, respected and taken care of always.
					</p>
				</div>
			</div>
			<div class="col-lg-4  col-md-6">
				<div class="single-footer-widget mail-chimp">
					<h6 class="mb-20">Contact Us</h6>
					<ul class="list-contact">

						<li class="flex-row d-flex">
							<div class="icon">
								<span class="lnr lnr-envelope"></span>
							</div>
							<div class="detail">
								<h4>Marina Fernández Suárez</h4>
								<p>m.fernandezsu@alumnos.urjc.es</p>
							</div>
						</li>

						<li class="flex-row d-flex">
							<div class="icon">
								<span class="lnr lnr-envelope"></span>
							</div>
							<div class="detail">
								<h4>Arshia Ambar Saleem</h4>
								<p>aa.saleem.2017@alumnos.urjc.es</p>
							</div>
						</li>

						<li class="flex-row d-flex">
							<div class="icon">
								<span class="lnr lnr-envelope"></span>
							</div>
							<div class="detail">
								<h4>Borja Castro Cruces</h4>
								<p>b.castro.2018@alumnos.urjc.es</p>
							</div>
						</li>

						<li class="flex-row d-flex">
							<div class="icon">
								<span class="lnr lnr-envelope"></span>
							</div>
							<div class="detail">
								<h4>Rodrigo Cadena Rodríguez</h4>
								<p>r.cadenar.2019@alumnos.urjc.es</p>
							</div>
						</li>

					</ul>
				</div>
			</div>

		</div>
	</div>
	<div class="copyright-text">
		<div class="container">
			<div class="row footer-bottom d-flex justify-content-between">
				<p class="col-lg-8 col-sm-6 footer-text m-0 text-white">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					All rights reserved | This Application web is made with <i
						class="fa fa-heart-o" aria-hidden="true"></i><a
						href="https://colorlib.com" target="_blank"></a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
				<div class="col-lg-4 col-sm-6 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
						class="fa fa-twitter"></i></a> <a href="#"><i
						class="fa fa-dribbble"></i></a> <a href="#"><i
						class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End footer Area -->


<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous">
	
</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/myjsfile.js"></script>
<script src="js/myjsfile2.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>
</body>

</html>