<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Pet Shelter</title>

<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
	rel="stylesheet">
<!--
			CSS
			============================================= -->
<link rel="stylesheet" href="/css/linearicons.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/nice-select.css">
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/main.css">

</head>

<body>
	<header id="header" id="home">
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/"><img src="img/logo3.png" width="100" height="40"
						alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-has-children"><a href="/animal">ANIMALS</a></li>
						{{#logged}}
						{{#isShelter}}
						<li class="menu-has-children"><a href="/request">REQUESTS</a></li>
						<li class="menu-has-children"><a href="/animalform">ADD
								ANIMAL</a></li>
						{{/isShelter}}
						{{^isShelter}}
						<li class="menu-has-children"><a href="/profile">PROFILE</a></li>
						{{/isShelter}}
						{{/logged}}
						<li class="menu-has-children"><a href="/contact">CONTACT
								US</a></li>
						{{#logged}}
							<li class="menu-has-children"><a href="/logout">LOG OUT</a></li>
						{{/logged}}
						{{^logged}}
						<li><a href="#"
							onclick=" $('#divTopImg').toggleClass('desplegado')">LOG IN</a></li>
						
						<div id="divTopImg">
							<div class="login-form clearfix">
								<div class="login-header">
									<form action="/login" method="post">
										<div class="form-group">
											<label>User</label> <input type="text" name="username">
										</div>
										<div class="form-group">
											<label>Password</label> <input type="password" name="password">
										</div>
										<input type="submit" value="Entrar"> 
									</form>
										<a class="genric-btn primary circle" href="/signuser">NEW
											USER</a><br> <a class="genric-btn primary circle"
											href="/signshelter">NEW SHELTER</a> <input type="hidden"
											id="social_connect_login_form_uri" value="Complete" /> <a
											href="#" onclick=" $('#divTopImg').toggleClass('desplegado')">CLOSE</a>
								</div>
							</div>
						</div>
						{{/logged}}
					</ul>
				</nav>
				<!-- #nav-menu-container -->

			</div>
		</div>
	</header>
	<!-- #header -->