<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">Animals</h1>
				<p class="text-white link-nav"><a routerLink="/home">Home </a> <span class="lnr lnr-arrow-right"></span> <a routerLink="/animals">Animals</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Start animal-list Area -->
<form (ngSubmit)="onSubmit()" class="intro" >
	<div class="form-group">
		<div class="row">
			<select id="animalType" required [(ngModel)]="animalType"  name="animalType" class=" col-lg-8 col-md-3">
				<option value="all">All</option>
				<option value="bird">Bird</option>
				<option value="cat">Cat</option>
				<option value="dog">Dog</option>
				<option value="reptile">Reptile</option>
				<option value="others">Others</option>
			</select>
			<div class="btn-group">
				<button type="submit" (click)="saverange()" class="genric-btn primary circle"
				style="float: left; width: 125px; margin-left: 5%;">Apply Filter</button>
			</div>
		</div>
	</div>
</form>
<form (ngSubmit)="onSubmitName()"  class="intro2" >
	<div class="form-group">
		<div class="row">
			<input  type="text" id="animalName" required [(ngModel)]="animalName" name="animalName" class=" col-lg-8 col-md-3">
			<button type="submit"  class="genric-btn primary circle"
				style="float: left; width: 125px; margin-left: 1%;">Search</button>
		</div>
	</div>
</form>
<form onsubmit="event.preventDefault()" class="intro2" >
		<div class="form-group">
		<div class="row">
			<button id='buttonSuit' onclick= "applySuit()" class="genric-btn primary circle"
				style="float: center; width: 575px; margin-left: 0%;">Suit You</button>
       </div>
      </div>
</form>
<div id="spinner"></div> 
<div class="container">
	<div class="row">
	    <div id="imagebox" *ngFor="let ani of animal">
			<a [routerLink]="['/animal',ani.animalName,ani.animalType, ani.animalAge,ani.animalDescription,ani.size,ani.animalPhoto]"><img class="allimages"src="{{src}}/{{ani.animalPhoto}}" alt="" height="100px" wight="100px"> </a> 
			
		</div>
    </div>
</div>

<img *ngIf="loading" src="assets/spinner2.gif " style="float: center; width: 5%; margin-left: 47%; position:sticky"/>

<button id='add-button' (click)= "increment()" class="genric-btn primary circle" style="float: center; width: 125px; margin-left: 45%;" >Load More</button>


	
		