<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">New User</h1>
				<p class="text-white link-nav">
					<a [routerLink]="['home']">Home </a> <span class="lnr lnr-arrow-right"></span> <a
					[routerLink]="['userform']"> New user</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start User-form Area -->
<section class="Volunteer-form-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-20">User data:</h1>
					<p>Add the user data to start finding new family members.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<form autocomplete="on" (ngSubmit)="createWebUser( formulary )" #formulary="ngForm" enctype="multipart/form-data"
				class="col-lg-9">

				<div class="form-group">
					<label for="image">Photo:</label><br>
					<input type="file" name="userPhoto" id="image" accept=".jpg, .jpeg" (change)="loadImage($event)" required>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userName.invalid && userName.touched" for="userName">Name:</label> 
					<input type="text" name="userName" id="userName" [(ngModel)]="user.userName" #userName="ngModel"
						[class.is-invalid]="userName.invalid && userName.touched" 
						[class.is-valid]="userName.valid && userName.touched" 
						class="form-control"  pattern="[A-Za-z ]+" placeholder="Name" required>
					<small *ngIf="userName.invalid && userName.touched" class="form-text text-danger">
						You can only enter a name with alphabetic symbols.
					</small>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userDni.invalid && userDni.touched" for="userDni">DNI:</label>
					<input type="text" name="userDni" id="userDni" [(ngModel)]="user.userDni" #userDni="ngModel"
						[class.is-invalid]="userDni.invalid && userDni.touched"
						[class.is-valid]="userDni.valid && userDni.touched"
						class="form-control"  pattern="[0-9]{8}[A-Za-z]{1}" placeholder="DNI/NIF"
						required>
					<small *ngIf="userDni.invalid && userDni.touched" class="form-text text-danger">
						Enter 8 digits followed by a capital or small letter.
					</small>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userAge.invalid && userAge.touched" for="userAge">Age:</label>
					<input type="text" name="userAge" id="userAge" [(ngModel)]="user.userAge" #userAge="ngModel"
						[class.is-invalid]="userAge.invalid && userAge.touched"
						[class.is-valid]="userAge.valid && userAge.touched"
						class="form-control" pattern="[1-9][0-9]?[0-9]?" placeholder="Your Age"
						required>
					<small *ngIf="userAge.invalid && userAge.touched" class="form-text text-danger">
						Enter your age, minimum is 1 and it can't be negative.
					</small>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userAdress.invalid && userAdress.touched" for="userAdress">Address:</label>
					<input type="text" name="userAdress" id="userAdress" [(ngModel)]="user.userAdress" #userAdress="ngModel"
						[class.is-invalid]="userAdress.invalid && userAdress.touched"
						[class.is-valid]="userAdress.valid && userAdress.touched" 
						class="form-control"  placeholder="Address" pattern="[A-Za-zñ ,0-9/ºª]+" required>
					<small *ngIf="userAdress.invalid && userAdress.touched" class="form-text text-danger">
						Enter your adress.
					</small>
				</div>

				<div class="form-group">
					<label for="userHouseSize">House size (without the garden):</label> <select												
						name="userHouseSize" id="userHouseSize" [(ngModel)]="user.userHouseSize">
						<!-- values for the special-filter algorith -->
						<option value="xs">Apartment</option>
						<!-- 0 -->
						<option value="s">Small house (+50m2)</option>
						<!-- 1 -->
						<option value="m">Medium house (+80m2)</option>
						<!-- 2 -->
						<option value="l">Big house (+100m2)</option>
						<!-- 4 -->
						<option value="xl">Very big house (+200m2)</option>
						<!-- 6 -->
					</select>
				</div>

				<div class="form-group">
					<label for="userGarden">Garden:</label> 
					<select name="userGarden" id="userGarden" [(ngModel)]="user.userGarden">
						<!-- values for the special-filter algorith -->
						<option value="no">No</option>
						<!-- 0 -->
						<option value="s">Small garden</option>
						<!-- 2 -->
						<option value="m">Medium garden (+100m2)</option>
						<!-- 3 -->
						<option value="l">Big garden (+300m2)</option>
						<!-- 5 -->
						<option value="xl">Very big garden (+600m2)</option>
						<!-- 6 -->
					</select>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userNumChildren.invalid && userNumChildren.touched" for="userNumChildren">Number of children in your home:</label>
					<input type="text" name="userNumChildren" id="userNumChildren" [(ngModel)]="user.userNumChildren" #userNumChildren="ngModel"
						[class.is-invalid]="userNumChildren.invalid && userNumChildren.touched"
						[class.is-valid]="userNumChildren.valid && userNumChildren.touched" 
						class="form-control" pattern="[0-9][0-9]?" placeholder="Age lower than 14" required>
					<small *ngIf="userNumChildren.invalid && userNumChildren.touched" class="form-text text-danger">
						Enter the number of children in your home, there can be 0.
					</small>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userNumPeopleInHouse.invalid && userNumPeopleInHouse.touched" for="userNumPeopleInHouse">Number of people in your home:</label> 
					<input type="text" name="userNumPeopleInHouse" id="userNumPeopleInHouse" [(ngModel)]="user.userNumPeopleInHouse" #userNumPeopleInHouse="ngModel"
						[class.is-invalid]="userNumPeopleInHouse.invalid && userNumPeopleInHouse.touched"
						[class.is-valid]="userNumPeopleInHouse.valid && userNumPeopleInHouse.touched" 
						class="form-control"  pattern="[1-9][0-9]?" placeholder="Including yourself" required>
					<small *ngIf="userNumPeopleInHouse.invalid && userNumPeopleInHouse.touched" class="form-text text-danger">
						Enter the number of people in your home, including yourself.
					</small>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userEmail.invalid && userEmail.touched" for="email">E-mail (it will be your user):</label> 
					<input type="email" name="userEmail" id="" [(ngModel)]="user.userEmail" #userEmail="ngModel"
						[class.is-invalid]="userEmail.invalid && userEmail.touched"
						[class.is-valid]="userEmail.valid && userEmail.touched"
						pattern="[a-z0-9._%+-]+@[a-z0-9._]+\.[a-z]{2,3}$" class="form-control" placeholder="User e-mail" required>
					<small *ngIf="userEmail.invalid && userEmail.touched" class="form-text text-danger">
						Enter your email.
					</small>
				</div>

				<div class="form-group">
					<label [class.text-danger]="userPassword.invalid && userPassword.touched" for="password">Password:</label> 
					<input type="password" name="userPassword" id="" [(ngModel)]="user.userPassword"#userPassword="ngModel" 
						[class.is-invalid]="userPassword.invalid && userPassword.touched"
						[class.is-valid]="userPassword.valid && userPassword.touched" 
						class="form-control" placeholder="Password" required>
					<small *ngIf="userPassword.invalid && userPassword.touched" class="form-text text-danger">
						Enter your password, assure it is secure before.
					</small>
				</div>

				<div *ngIf="alert" class="alert alert-danger">
					{{alertText}}
				</div>

				<button type="submit" class="genric-btn primary circle">Create
					User</button>
			</form>
		</div>
	</div>
</section>
<!-- End User-form area -->