<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">Statistics</h1>
                <p class="text-white link-nav">
                    <a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a routerLink="/statistics">
                        Statistics</a>
                </p>
            </div>
        </div>
    </div>
</section>
<br>
<!-- End banner Area -->
<section class="Graphs-header">
    <div class="contains">
        <div class="row justify-content-center align-items-center">
            <h4>Adoptions in last six Months</h4>

        </div>
        <table id="q-graph">
            
           
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="qtr" id="q1">
                    <th scope="row"></th>
                    <td class="sent1 bar">
                        <p></p>
                    </td>
                </tr>
                <tr class="qtr" id="q2">
                    <th scope="row"></th>
                    <td class="sent2 bar">
                        <p></p>
                    </td>
                </tr>
                <tr class="qtr" id="q3">
                    <th scope="row"></th>
                    <td class="sent3 bar">
                        <p></p>
                    </td>
                </tr>
                <tr class="qtr" id="q4">
                    <th scope="row"></th>
                    <td class="sent4 bar">
                        <p></p>
                    </td>
                </tr>
                <tr class="qtr" id="q5">
                    <th scope="row"></th>
                    <td class="sent5 bar">
                        <p></p>
                    </td>
                </tr>
                <tr class="qtr" id="q6">
                    <th scope="row"></th>
                    <td class="sent6 bar">
                        <p></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="ticks">
            <div class="tick" style="height: 59px;">
                <p>100</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>80</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>60</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>40</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>20</p>
            </div>
        </div>

    </div>
</section>